- @page_title = @rdf_model.name + ' RDF Model - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1 Edit RDF Model
  - main.edit_form do
    = render :partial => 'form'
