%h1 Remove RDF Model

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  the following model?

%table.index#databases
  %tbody
    %tr.node.level_1
      %td.database
        = image('snippet', :alt => "")
        %span.title= @rdf_model.name

- form_for [:admin, @rdf_model], :html => {:method => :delete, :onsubmit_status=>"Removing database&#8230;"} do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete RDF Model"}/
    or
    = link_to 'Cancel', admin_fabulator_rdf_models_url
