- @page_title = 'Constraints - ' + default_page_title

.outset
  - render_region :top
  %table#constraints.index
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.constraint Constraint
          - thead.modify_header do
            %th.modify Modify
    %tbody
      - if @fabulator_constraints.any?
        - @fabulator_constraints.each do |constraint|
          %tr.node.level_1
            - render_region :tbody do |tbody|
              - tbody.title_cell do
                %td.snippet
                  = image('snippet', :alt => '')
                  %span= link_to constraint.name, edit_admin_fabulator_constraint_url(constraint)
              - tbody.modify_cell do
                %td.remove
                  = link_to image('remove', :alt => 'Remove Constraint'), remove_admin_fabulator_constraint_url(constraint)
      - else
        %tr
          %td.note{:colspan => admin.fabulator_constraint.index.tbody.length} No Custom Constraints

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      %ul
        %li= link_to "New Constraint", new_admin_fabulator_constraint_url
        /{ :controller => 'admin/fabulator/constraints', :action => 'new' }
