%h1 Remove Constraint

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  the following constraint?

%table.index#constraints
  %tbody
    %tr.node.level_1
      %td.constraint
        = image('snippet', :alt => "")
        %span.title= @fabulator_constraint.name

- form_for [:admin, @fabulator_constraint], :html => {:method => :delete, :onsubmit_status=>"Removing constraint&#8230;"} do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete Constraint"}/
    or
    = link_to 'Cancel', admin_fabulator_constraints_url
