- @page_title = @fabulator_filter.name + ' Filter - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1 Edit Filter
  - main.edit_form do
    = render :partial => 'form'
