- @page_title = 'Filters - ' + default_page_title

.outset
  - render_region :top
  %table#filters.index
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.filter Filter
          - thead.modify_header do
            %th.modify Modify
    %tbody
      - if @fabulator_filters.any?
        - @fabulator_filters.each do |filter|
          %tr.node.level_1
            - render_region :tbody do |tbody|
              - tbody.title_cell do
                %td.snippet
                  = image('snippet', :alt => '')
                  %span= link_to filter.name, edit_admin_fabulator_filter_url(filter)
              - tbody.modify_cell do
                %td.remove
                  = link_to image('remove', :alt => 'Remove Filter'), remove_admin_fabulator_filter_url(filter)
      - else
        %tr
          %td.note{:colspan => admin.fabulator_filter.index.tbody.length} No Custom Filters

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      %ul
        %li= link_to "New Filter", { :controller => 'admin/fabulator/filters', :action => 'new' }
