%h1 Remove Filter

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  the following filter?

%table.index#filters
  %tbody
    %tr.node.level_1
      %td.filter
        = image('snippet', :alt => "")
        %span.title= @fabulator_filter.name

- form_for [:admin, @fabulator_filter], :html => {:method => :delete, :onsubmit_status=>"Removing filter&#8230;"} do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete Filter"}/
    or
    = link_to 'Cancel', admin_fabulator_filters_url
