- @page_title = @fabulator_library.name + ' Library - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1 Edit Library Definition
  - main.edit_form do
    = render :partial => 'form'
